#response-container {

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: lightgray;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 100%;
    padding: 10px;

    #header-container {

        max-width: 400px;

    }

    #results-container {

        max-width: 400px;
        max-height: 600px;
        overflow: scroll;
        overflow-x: hidden;

    }

}


