#history-page {
    display: flex;
    flex-direction: row;
    // padding: 10px;


    aside {
        padding: 10px;

        .url {
            padding: 5px;
        }

        .url:hover {
            background-color: burlywood;
        }
    }

}
