@use '../../design/design';

header {

    background: design.$primary-header-background-color;
    // width: 100vw;
    width: 100%;
    min-width: 400px;
    display: flex;
    align-content: center;
    justify-content: center;

    h1 {
        color: design.$primary-header-color;
    }

}
