@use '../../design/design';

footer {

    background: design.$primary-footer-color;
    width: 100vw;
    min-width: 400px;
    // height: 20px;
    padding: 3px;
    display: flex;
    // flex-direction: column;
    // align-content: center;
    justify-content: center;
    // align-items: center;

}
