// Colors
$grey: grey;
$lightgrey: lightgrey;
$white: white;
$offwhite: #F0EBD8;
$whitesmoke: whitesmoke;
$black: black;
$pink: pink;
$errorRed: #c02e2e;

// Fonts
$times-new-roman: 'Times New Roman', Times, serif;
