@use './design/design';

body {

    margin: 0 0;

    #root {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: design.$primary-app-background-color;
        color: design.$primary-app-color;

    }

}

